<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCv8bsOh3d22zyflKpa_gHR8ZandsDURO0</string>
	<key>GCM_SENDER_ID</key>
	<string>565234796010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qua.un1v3rs4l8ph3r3</string>
	<key>PROJECT_ID</key>
	<string>app409-2b26c</string>
	<key>STORAGE_BUCKET</key>
	<string>app409-2b26c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565234796010:ios:02d903e9de9873dc4f1e93</string>
</dict>
</plist>